@CHARSET "UTF-8";

/* General Styles */
html, body {
	height: 100%;
	margin: 0
}

body {
	font-family: Verdana, Geneva, Arial, sans-serif;
}

.bg-box {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.bg-box-columns {
	display: flex;
}

.bg-column {
	flex: 1;
	padding: 2px;
}

.bg-column-one {
	order: 1;
}

.bg-column-two {
	order: 2;
}

.bg-column-three {
	order: 3;
}

.bg-column-four {
	order: 4;
}

.bg-column-five {
	order: 5;
}

.bg-horizontal-left {
	text-align: left;
}

.bg-horizontal-center {
	text-align: center;
}

.bg-horizontal-right {
	text-align: right;
}

.bg-vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* Header Styles */
header {
	background-color: #efe7df;
	border-radius: 0px 0px 10px 10px;
	padding: 5px;
}

.bg-box header.bg-row {
	flex: 0 1 auto;
}

/* Nav Styles */
.bg-nav {
	flex: 0 0 233px;
}

/* Content Styles */
.bg-box .bg-row.bg-content {
	flex: 1 1 auto;
}

.bg-content {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

/* Footer Styles */
footer {
	background-color: #cead8c;
	border-radius: 10px 10px 0px 0px;
	padding: 5px;
}

footer span {
	color: #3d240c;
}

.bg-box footer.bg-row {
	flex: 0 1 75px;
}

@media screen and (max-width: 1024px) {
	.bg-disposible-1024 {
		display: none;
	}
	.bg-content {
		width: auto;
		margin: 0px;
	}
}

@media screen and (max-width: 640px) {
	.bg-disposible-640 {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.bg-disposible-480 {
		display: none;
	}
	.bg-box-columns.bg-responsive {
		display: flex;
		flex-flow: column;
		height: 100%;
	}
	.bg-column.bg-responsive {
		flex: 1 1 auto;
	}
	nav .bg-nav-menu {
		width: auto;
	}
}

@media screen and (max-width: 320px) {
	.bg-disposible-320 {
		display: none;
	}
}