<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
						http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Java EE Architecture Project</display-name>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<!-- JSF (Java Server Faces) servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- Resources that need authentication -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Pages</web-resource-name>
			<url-pattern>/pages/protected/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>LOGGED</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!-- No caching filter for resources that need authentication -->
	<filter>
	    <filter-name>noCacheFilter</filter-name>
	    <filter-class>com.bgasparotto.archproject.web.security.filter.NoCacheProtectedPagesFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>noCacheFilter</filter-name>
	    <url-pattern>/pages/protected/*</url-pattern>
	</filter-mapping>

	<!-- Allowed role for authenticating -->
	<security-role>
		<role-name>LOGGED</role-name>
	</security-role>

	<!-- The login prompt method as a JSF form -->
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>archproject</realm-name>
		<form-login-config>
			<form-login-page>/pages/public/login.xhtml</form-login-page>
			<form-error-page>/pages/public/login.xhtml</form-error-page>
		</form-login-config>
	</login-config>
	
	<!-- Default error page for any HTTP error -->
	<error-page>
	    <location>/pages/error/error.xhtml</location>
	</error-page>
</web-app>